<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="logo"
        ><span class="logo-item">Simply </span> Chocolate
        <svg class="logo-icon" width="24" height="24">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">How it's made?</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Top sellers</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Chocolate is loved</a>
        </li>
      </ul>

      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        type="button"
      >
        <svg class="icon" width="28" height="28">
          <use href="./img/sprite.svg#burger"></use>
        </svg>
      </button>
    </nav>

    <ul class="socials">
      <li>
        <a href="#" class="socials-item">
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="socials-item">
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!--
    =============
    MOBILE MENU
    =============
  -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button type="button" class="menu-toggle js-close-menu">
      <svg class="close-icon" width="28" height="28">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-item">
        <a href="./index.html" class="mobile-link">Home</a>
      </li>
      <li class="mobile-item">
        <a href="#" class="mobile-link">How it's made?</a>
      </li>
      <li class="mobile-item">
        <a href="#" class="mobile-link">Our products</a>
      </li>
      <li class="mobile-item">
        <a href="#" class="mobile-link">Top sellers</a>
      </li>
      <li class="mobile-item">
        <a href="#" class="mobile-link">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="social-icons">
      <li class="social-icons-box">
        <a href="/" class="social-icon">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-icons-box">
        <a href="/" class="social-icon">
          <svg class="icon" width="24" height="24">
            <use href="./img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
