<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="./index.html" class="logo"
        ><span class="logo-item">Simply </span> Chocolate
        <svg class="logo-icon" width="24" height="24">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#howitsmade" class="nav-link">How it's made?</a>
        </li>
        <li class="nav-item">
          <a href="#ourproducts" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#topsellers" class="nav-link">Top sellers</a>
        </li>
        <li class="nav-item">
          <a href="#chocolateislove" class="nav-link">Chocolate is loved</a>
        </li>
      </ul>

      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="mobile-menu"
        type="button"
      >
        <svg class="icon" width="28" height="28">
          <use href="./img/sprite.svg#burger"></use>
        </svg>
      </button>
    </nav>

    <ul class="socials">
      <li>
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          class="socials-item"
          aria-label="instagram icon"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          class="socials-item"
          aria-label="twitter icon"
        >
          <svg class="socials-icon" width="24" height="24">
            <use href="./img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!--
    =============
    MOBILE MENU
    =============
  -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button
      type="button"
      class="menu-toggle js-close-menu"
      aria-label="close-mobile-menu"
    >
      <svg class="close-icon" width="16" height="16">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-item">
        <a href="./index.html" class="mobile-link">Home</a>
      </li>
      <li class="mobile-item">
        <a href="#howitsmade" class="mobile-link">How it's made?</a>
      </li>
      <li class="mobile-item">
        <a href="#ourproducts" class="mobile-link">Our products</a>
      </li>
      <li class="mobile-item">
        <a href="#topsellers" class="mobile-link">Top sellers</a>
      </li>
      <li class="mobile-item">
        <a href="#chocolateislove" class="mobile-link">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="social-icons">
      <li class="social-icons-box">
        <a
          href="https://www.instagram.com
"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="instagram icon"
        >
          <svg class="icon" width="22" height="22">
            <use href="./img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-icons-box">
        <a
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          class="social-icon"
          aria-label="twitter icon"
        >
          <svg class="icon" width="22" height="22">
            <use href="./img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
