<!------------------------ hero container -------------------------->
<section class="hero">
  <h1 class="hero-tite visually-hidden">Hero</h1>
  <div class="container">
    <p class="hero-text">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <div class="hero-blocks">
      <!------------------------- hero-buttons ---------------------------->
      <div class="hero-buttons-container">
        <button class="hero-modal-btn heo-btn" data-hero-open type="button">
          Buy now
        </button>

        <a href="#howitsmade" class="hero-how-btn hero-btn">How it's made</a>
      </div>
      <!----------------------- hero scroll button ------------------------------>
      <a class="hero-scrol-btn-container" href="#contactus">
        <p class="hero-scroll-title">scroll down</p>
        <span class="hero-scrol-btn hero-btn" aria-label="scrolldown">
          <svg class="arrow-button" width="12" height="12">
            <use href="./img/sprite.svg#arrow"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
