<h1 class="hero-tite">Hero</h1>
<!------------------------ hero container -------------------------->
<section class="hero">
  <div class="container">
    <p class="hero-text">Treat yourself or a loved one 
      to our finest ingredients for a moment
      of pure delight!</p>
    <div class=hero-blocks>


<!------------------------- hero-buttons ---------------------------->
      <div class="hero-buttons-container">
        <button class="hero-modal-btn" data-modal-open type="button">
          Buy now
        </button>

        <button class="hero-how-btn" data-modal-open type="button">
          <a href=""></a>
          How it’s made
        </button>
      </div>
<!----------------------- hero scroll button ------------------------------>
      <div class="hero-scrol-btn-container">
        <p class="hero-scroll-title">scroll down</p>
        <button class="hero-scrol-btn" data-modal-open type="button">
          <svg class="arrow-button" width="12" height="12">
            <use href="../img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>



    </div>



  </div>


</section>