<section id="howitsmade" class="how-its-made-section">
  <div class="container">
    <h2 class="how-its-h">
      How it&rsquo;s <span class="how-its-hh">made?</span>
    </h2>
    <div class="made-div">
      <div class="made-video">
        <img
          class="how-its-made-video"
          loading="lazy"
          src="https://i.ytimg.com/vi/xPe1jMuX32s/hqdefault.jpg"
          alt="chocolate video"
        />
        <svg class="play-icon" width="44" height="44">
          <use href="./img/sprite.svg#play"></use>
        </svg>
        <!--
        <iframe
          class="how-its-made-video"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/xPe1jMuX32s"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        -->
      </div>
      <div class="made-text">
        <h3 class="made-text-h">
          Try our chocolates today and
          <span class="made-next-line"
            >discover the perfect balance of flavor</span
          >
        </h3>
        <ul class="made-list">
          <li class="made-list-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="made-list-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="made-list-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="made-list-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="made-list-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
