<div class="backdrop-explore is-hidden" data-modal-explore>
  <div class="modal-explore">
    <div class="modal-explore-pic"></div>
    <p class="modal-explore-title">
      <span class="modal-explore-title-part-one">
        Explore our
        <span class="modal-explore-title-part-two">
          <span class="modal-explore-title-color">new chocolate</span>
          first!</span
        ></span
      >
    </p>
    <button
      type="button"
      class="modal-explore-btn-close"
      data-modal-explore-close
    >
      <svg class="modal-btn-icon" width="24" height="24">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>

    <!-- modal form -->
    <form action="#" name="explore_form" class="modal-explore-form">
      <label for="user_email" class="visually-hidden">mail</label>
      <input
        id="user_email"
        type="email"
        name="user_email"
        class="explore-user-email"
        placeholder="Enter your email"
        required
      />

      <button type="submit" class="btn-primary modal-explore-btn">
        Subscribe
      </button>
    </form>
  </div>
</div>
