<div class="backdrop-review is-hidden" data-modal-review>
  <div class="modal-review">
    <p class="modal-title modal-review-title">
      <span class="modal-title-part-one"> LEAVE A REVIEW</span> ABOUT
      <span class="modal-title-color"> our CHOCOLATE</span>
    </p>
    <button type="button" class="modal-btn-close" data-modal-review-close>
      <svg class="modal-btn-icon" width="24" height="24">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>

    <!-- modal form -->
    <form action="#" class="modal-review-form">
      <label for="user_name" class="visually-hidden">name</label>
      <input
        type="text"
        name="user_name"
        class="user"
        id="user_name"
        title="input only letters"
        pattern="^[a-zA-Zа-яА-Я]+$"
        placeholder="Name"
        autofocus
        required
      />

      <label for="user_mail" class="visually-hidden">mail</label>
      <input
        type="email"
        name="user_mail"
        id="user_mail"
        class="user"
        placeholder="Enter your email"
        required
      />

      <label for="user_tel" class="visually-hidden">phone</label>
      <span class="modal-tel-wrap">
        <svg class="modal-review-tel-icon" width="24" height="24">
          <use href="./img/sprite.svg#flag"></use>
        </svg>

        <span class="modal-review-tel-code">+380</span>
        <span class="modal-tel-number">
          <input
            id="user_tel"
            type="tel"
            name="user_tel"
            class="user user-tel"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xx-xx"
            placeholder="Phone number"
            required
          />
        </span>
      </span>
      <label for="user_comment" class="visually-hidden">comment</label>
      <textarea
        class="user user_comment"
        id="user_comment"
        placeholder="Enter text"
      ></textarea>
      <button type="submit" class="btn-primary modal-review-btn">Send</button>
    </form>
  </div>
</div>
