<div class="backdrop-explore">
    <div class="modal-explore">
        <div class="modal-explore-pic"></div>
        <p class="modal-explore-title">
            <span class="modal-explore-title-part-one"> Explore our <span class="modal-explore-title-part-two">
                <span class="modal-explore-title-color">new chocolate</span>
                first!</span></span>

        </p>
        <button type="button" class="modal-explore-btn-close" data-modal-close>
            <svg class="modal-btn-icon" width="24" hieght="24">
                <use href="../img/sprite.svg#close">

                </use>
            </svg>
        </button>

        <!-- modal form -->
        <form class="modal-explore-form">
            <label id="user_email" class="visually-hidden">mail</label>
            <input type="email" class="explore_user_email" placeholder="Enter your email" required>

           <button type="submit" class="btn-primary modal-explore-btn">Submit</button>
 
        </form>

        
    </div>