<section class="our-products" id="ourproducts">
  <div class="container centr">
    <h2 class="our-prod-header">
      OUR<span class="our-prod-head-span"> PRODUCTS</span>
    </h2>
    <div class="our-prod-box-list swiper">
      <ul class="our-prod-list list swiper-wrapper">
        <li class="our-prod-list-item swiper-slide">
          <div class="our-prod-box">
            <img
              srcset="
                ./img/our-products/orange.jpg    1x,
                ./img/our-products/orange@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/orange.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="our-prod-h">ORANGE</h3>
            <p class="our-prod-text">Dark chocolate</p>
            <p class="our-prod-prices">45 UAH</p>
          </div>
        </li>
        <li class="our-prod-list-item swiper-slide">
          <div class="our-prod-box">
            <img
              srcset="
                ./img/our-products/APPLE&CRANBERRY.jpg    1x,
                ./img/our-products/APPLE&CRANBERRY@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/APPLE&CRANBERRY.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="our-prod-h">APPLE&CRANBERRY</h3>
            <p class="our-prod-text">Milk chocolate</p>
            <p class="our-prod-prices">50 UAH</p>
          </div>
        </li>
        <li class="our-prod-list-item swiper-slide">
          <div class="our-prod-box">
            <img
              srcset="
                ./img/our-products/lime&sea_salt.jpg    1x,
                ./img/our-products/lime&sea_salt@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/lime&sea_salt.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="our-prod-h">LIME&SEA SALT</h3>
            <p class="our-prod-text">Dark chocolate</p>
            <p class="our-prod-prices">66 UAH</p>
          </div>
        </li>
        <li class="our-prod-list-item swiper-slide">
          <div class="our-prod-box">
            <img
              srcset="
                ./img/our-products/pineapple.jpg    1x,
                ./img/our-products/pineapple@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/pineapple.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="our-prod-h">PINEAPPLE</h3>
            <p class="our-prod-text">Dark chocolate</p>
            <p class="our-prod-prices">54 UAH</p>
          </div>
        </li>
        <li class="our-prod-list-item swiper-slide">
          <div class="our-prod-box">
            <img
              srcset="
                ./img/our-products/ClassicB.jpg    1x,
                ./img/our-products/ClassicB@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/ClassicB.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="our-prod-h">CLASSIC</h3>
            <p class="our-prod-text">Milk chocolate</p>
            <p class="our-prod-prices">45 UAH</p>
          </div>
        </li>
        <li class="our-prod-list-item swiper-slide">
          <div class="our-prod-box">
            <img
              srcset="
                ./img/our-products/HONEY.jpg    1x,
                ./img/our-products/HONEY@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/HONEY.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="our-prod-h">HONEY</h3>
            <p class="our-prod-text">Milk chocolate</p>
            <p class="our-prod-prices">50 UAH</p>
          </div>
        </li>
        <li class="our-prod-list-item swiper-slide">
          <div class="our-prod-box">
            <img
              srcset="
                ./img/our-products/Roasted_fruits.jpg    1x,
                ./img/our-products/Roasted_fruits@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/Roasted_fruits.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="our-prod-h">ROASTED FRUITS</h3>
            <p class="our-prod-text">Dark chocolate</p>
            <p class="our-prod-prices">66 UAH</p>
          </div>
        </li>
        <li class="our-prod-list-item swiper-slide">
          <div class="our-prod-box">
            <img
              srcset="
                ./img/our-products/ClassicW.jpg    1x,
                ./img/our-products/ClassicW@2x.jpg 2x
              "
              class="our-prod-img"
              src="./img/our-products/ClassicW.jpg"
              alt="chocolate"
              loading="lazy"
            />
            <h3 class="our-prod-h">CLASSIC</h3>
            <p class="our-prod-text">White chocolate</p>
            <p class="our-prod-prices">54 UAH</p>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
