<section class="reviews">
  <div class="container">
    <h2 clas="reviews_title"> <span class="reviews_title_chocolate">chocolate</span> is loved</h2>
      <div class="reviews_card">
        <div class="reviews_image">
          <img src="/img/reviews/victoria.png" alt="">
        </div>
        <div class="reviews_text_name">
          <h3 class="reviews_name">Victoria Dobrzhanska</h3>
          <p class="reviews_text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
        </div>
      </div>

        <div class="reviews_card">
          <div class="reviews_image">
            <img src="/img/reviews/nazar.png" alt="">
          </div>
          <div class="reviews_text_name">
            <h3 class="reviews_name">Nazar Babenko</h3>
            <p class="reviews_text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the chocolate is good.</p>
          </div>
      </div>

      <div class="reviews_card">
        <div class="reviews_image">
          <img src="/img/reviews/olena.png" alt="">
        </div>
        <div class="reviews_text_name">
          <h3 class="reviews_name">Olena Kampusch</h3>
          <p class="reviews_text">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft but crunchy.</p>
        </div>
    </div>

    
    <div class="reviews_card">
      <div class="reviews_image">
        <img src="/img/reviews/natalia.png" alt="">
      </div>
      <div class="reviews_text_name">
        <h3 class="reviews_name">Natalia Sus</h3>
        <p class="reviews_text">The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the sweetness level.</p>
      </div>
  </div>

  <div class="reviews_card">
    <div class="reviews_image">
      <img src="/img/reviews/danilo.png" alt="">
    </div>
    <div class="reviews_text_name">
      <h3 class="reviews_name">Danilo Nottingham</h3>
      <p class="reviews_text">This is delicious. It so rich and flavorful you don't need to use as many. I love topping an apple with almond butter and these chips for a snack.</p>
    </div>
</div>

<div class="reviews_card">
  <div class="reviews_image">
    <img src="/img/reviews/irina.png" alt="">
  </div>
  <div class="reviews_text_name">
    <h3 class="reviews_name">Irina Tydnyuk</h3>
    <p class="reviews_text">This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local chocolate - world class</p>
  </div>
</div>

</section>
