<section class="reviews" id="chocolateislove">
  <div class="container">
    <h2 class="reviews-title">
      <span class="reviews-title-chocolate">CHOCOLATE </span>IS LOVED
    </h2>

    <div class="mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews-card">
          <div class="reviews-image">
            <img src="./img/reviews/victoria.png" alt="chocolate" />
          </div>
          <div class="reviews-text-name">
            <h3 class="reviews-name">Victoria Dobrzhanska</h3>
            <p class="reviews-text">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
        <div class="swiper-slide reviews-card">
          <div class="reviews-image">
            <img src="./img/reviews/nazar.png" alt="chocolate" />
          </div>
          <div class="reviews-text-name">
            <h3 class="reviews-name">Nazar Babenko</h3>
            <p class="reviews-text">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
        <div class="swiper-slide reviews-card">
          <div class="reviews-image">
            <img src="./img/reviews/olena.png" alt="chocolate" />
          </div>
          <div class="reviews-text-name">
            <h3 class="reviews-name">Olena Kampusch</h3>
            <p class="reviews-text">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide reviews-card">
          <div class="reviews-image">
            <img src="./img/reviews/natalia.png" alt="chocolate" />
          </div>
          <div class="reviews-text-name">
            <h3 class="reviews-name">Natalia Sus</h3>
            <p class="reviews-text">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </div>
        <div class="swiper-slide reviews-card">
          <div class="reviews-image">
            <img src="./img/reviews/danilo.png" alt="chocolate" />
          </div>
          <div class="reviews-text-name">
            <h3 class="reviews-name">Danilo Nottingham</h3>
            <p class="reviews-text">
              This is delicious. It so rich and flavorful you don't need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </div>
        <div class="swiper-slide reviews-card">
          <div class="reviews-image">
            <img src="./img/reviews/irina.png" alt="chocolate" />
          </div>
          <div class="reviews-text-name">
            <h3 class="reviews-name">Irina Tydnyuk</h3>
            <p class="reviews-text">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-reviews-pagination"></div>
    </div>

    <button type="button" class="reviews-botton" data-modal-review-open>
      Leave a review
    </button>
  </div>
</section>
