<section class="subscribe">
  <div class="container">
    <h2 class="sub-headings">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="sub-text">
      From the velvety texture to the rich and complex flavor, our New Chocolate
      is a true indulgence that will leave you craving more. Made with only the
      finest ingredients and handcrafted with the utmost care, each piece is a
      work of art that is sure to please.
    </p>
    <button
      class="button btn-primary btn-sub"
      type="button"
      data-modal-explore-open
    >
      Subscribe
    </button>
  </div>
</section>
