<section class="top-sellers" id="topsellers">
  <div class="container top-seller-main">
    <h2 class="top-text"><span class="top-text-second">Top </span>Sellers</h2>
    <ul class="top-sellers-items">
      <li class="top-sellers-list">
        <img
          class="top-sellers-img"
          src="./img/top-sellers/desc_coffee.jpg"
          srcset="
            ./img/top-sellers/desc_coffee@1x.jpg 1x,
            ./img/top-sellers/desc_coffee@2x.jpg 2x
          "
          alt="Coffee chokolate"
          width="368"
          height="464"
          loading="lazy"
        />
        <p class="top-sellers-title top-wripper-mobile">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-list">
        <img
          class="top-sellers-img"
          src="./img/top-sellers/desc_chokolate.jpg"
          srcset="
            ./img/top-sellers/desc_chokolate@1x.jpg 1x,
            ./img/top-sellers/desc_chokolate@2x.jpg 2x
          "
          alt="Chokolate"
          width="368"
          height="464"
          loading="lazy"
        />
      </li>
      <li class="top-sellers-list">
        <img
          class="top-sellers-img top-mob-img"
          src="./img/top-sellers/desc_morechoko.jpg"
          srcset="
            ./img/top-sellers/desc_morechoko@1x.jpg 1x,
            ./img/top-sellers/desc_morechoko@2x.jpg 2x
          "
          alt="More chokolate"
          width="368"
          height="464"
          loading="lazy"
        />
      </li>
    </ul>
    <div class="top-sellers-wrapper">
      <p class="top-sellers-title top-wripper-tablet">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="top-button" data-modal-order-open type="button">
        Buy now
      </button>
    </div>
  </div>
  <!-- Form modal -->
  <div class="top-backdrop is-hidden" data-modal-order>
    <div class="top-seller-modal">
      <button
        type="button"
        data-modal-order-close
        class="top-modal-button modal-btn-close"
      >
        <svg class="top-seller-modal-icon-close" width="24" height="24">
          <use href="./img/sprite.svg#close"></use>
        </svg>
      </button>
      <form class="top-seller-form">
        <h2 class="top-text-modal">
          <span class="top-text-second">Buy</span> Now
        </h2>
        <div class="top-modal-title">
          <ul class="top-sellers-form-list">
            <li class="top-sellers-form-item">
              <img
                class="top-sellers-form-img"
                src="./img/top-sellers/modal/desc_tab_choko.png"
                alt="Chokolate"
                width="84"
                height="69"
                loading="lazy"
              />
              <p class="top-modal-choko">100 g</p>
            </li>
            <li class="top-sellers-form-item">
              <img
                class="top-sellers-form-img"
                src="./img/top-sellers/modal/desc_tab_wbchoko.png"
                alt="White and black chokolate"
                width="84"
                height="69"
                loading="lazy"
              />
              <p class="top-modal-choko">200 g</p>
            </li>
            <li class="top-sellers-form-item">
              <img
                class="top-sellers-form-img"
                src="./img/top-sellers/modal/desc_tab_chokolate.png"
                alt="White and black chokolate"
                width="84"
                height="69"
                loading="lazy"
              />
              <p class="top-modal-choko">300 g</p>
            </li>
          </ul>
        </div>
        <div class="top-sellers-item-form">
          <label class="top-modal"></label>
          <span class="top-seller-info">Personal information</span>
          <span class="top-sellers-modal-items">
            <input
              class="top-sellers-input top-name"
              type="text"
              name="user name"
              pattern="^[a-zA-Z]+$"
              minlength="2"
              placeholder="Name"
              required
            />
            <input
              class="top-sellers-input"
              type="text"
              name="user surname"
              pattern="^[a-zA-Z]+$"
              minlength="2"
              placeholder="Surname"
              required
            />
          </span>
          <label class="top-modal"></label>
          <span class="top-seller-info">Email</span>
          <span class="top-sellers-modal-items">
            <input
              class="top-sellers-input"
              type="email"
              name="user-email"
              id="email"
              placeholder="Enter your email"
              required
            />
          </span>

          <label class="top-modal"></label>
          <span class="top-seller-info">Phone number</span>

          <span class="top-sellers-modal-items">
            <input
              class="top-sellers-input top-number"
              type="tel"
              name="user-phone"
              id="tel"
              placeholder="Phone number"
              pattern="[0-9]{14,23}"
              required
            />
            <svg class="top-seller-modal-icon-flag" width="32" height="32">
              <use href="./img/sprite.svg#flag"></use>
            </svg>
            <span class="top-seller-number">+380</span>
          </span>
          <label class="top-modal"></label>
          <span class="top-seller-info">Card number</span>
          <span class="top-sellers-modal-items">
            <input
              class="top-sellers-input"
              type="text"
              name="Cardnumber"
              id="Card-number"
              placeholder="Enter card"
              pattern="[0-9\s]{13,19}"
              required
            />
            <svg class="top-seller-modal-icon-master" width="31" height="19">
              <use href="./img/sprite.svg#mastercard"></use>
            </svg>
          </span>
          <label class="top-modal">
            <span class="top-seller-info">Comment</span>
            <textarea
              class="top-seller-textarea"
              name="Comment"
              placeholder="Enter text"
            ></textarea>
          </label>
          <button class="top-seller" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
