<section class="unique-components">
  <div class="container">
    <div class="unique-content">
      <h2 class="unique-title">IT ALL ADDS UP TO ONE EXCEPTIONAL
        <span class="unique-title-text">TASTE</span>
        SENSATION
      </h2>
      <p class="unique-subscribe">
        At Simply Chocolate, we believe that the secret to exceptional chocolate
        is in the details. From the sourcing of the finest ingredients to the
        careful crafting of each individual piece, every step of our process
        adds up to one exceptional taste sensation.
      </p>
    </div>
    <ul class="unique-list">
      <li  class="unique-item">
        <div class="unique-card-wrapper">
          <picture>
            <source
              srcset="/img/unique-components/milk-chocolate-desktop.webp 1x, /img/unique-components/milk-chocolate-desktop@2x.webp 2x"
              media="(min-width: 1200px)" type="image/webp" />
            <source
              srcset="/img/unique-components/milk-chocolate-desktop.png 1x, /img/unique-components/milk-chocolate-desktop@2x.png 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="/img/unique-components/milk-chocolate-mobile-tablet.webp 1x, /img/unique-components/milk-chocolate-mobile-tablet@2x.webp 2x"
              media="(min-width: 768px)" type="image/webp" />
            <source
              srcset="/img/unique-components/milk-chocolate-mobile-tablet.png 1x, /img/unique-components/milk-chocolate-mobile-tablet@2x.png 2x"
              media="(min-width: 768px)" />
            <source
              srcset="/img/unique-components/milk-chocolate-mobile-tablet.webp 1x, /img/unique-components/milk-chocolate-mobile-tablet@2x.webp 2x"
              media="(max-width: 767px)" type="image/webp" />
            <source
              srcset="/img/unique-components/milk-chocolate-mobile-tablet.png 1x, /img/unique-components/milk-chocolate-mobile-tablet@2x.png 2x"
              media="(max-width: 767px)" />
            <img src="/img/unique-components/milk-chocolate-mobile-tablet.png" alt="bar of chocolate" width="224"
              height="171" class="unique-img" />
          </picture>
          <h3 class="unique-img-title">MILK CHOCOLATE</h3>
        </div>
        <div  class="unique-overlay">
          <h2 class="unique-overlay-title">MILK CHOCOLATE</h2>
          <ul class="overlay-list-btn">
            <li class="unique-item-btn">
              <button type="button" class="btn-primary unique-overlay-btn">chocolate</button>  
            </li>
            <li class="unique-item-btn">
              <button type="button" class="btn-tertiary unique-overlay-btn">the benefits</button>
            </li>
          </ul>
          <p class="unique-overlay-text unique-first-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar
            and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a
            beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States
            and Europe.</p>
        </div>
      </li>
      <li class="unique-item">
        <div  class="unique-card-wrapper">
          <picture>
            <source srcset="/img/unique-components/milk-desktop.webp 1x, /img/unique-components/milk-desktop@2x.webp 2x"
              media="(min-width: 1200px)" type="image/webp" />
            <source srcset="../img/unique-components/milk-desktop.png 1x, /img/unique-components/milk-desktop@2x.png 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="/img/unique-components/milk-mobile-tablet.webp 1x, /img/unique-components/milk-mobile-tablet@2x.webp 2x"
              media="(min-width: 768px)" type="image/webp" />
            <source
              srcset="/img/unique-components/milk-mobile-tablet.png 1x, /img/unique-components/milk-mobile-tablet@2x.png 2x"
              media="(min-width: 768px)" />
            <source
              srcset="/img/unique-components/milk-mobile-tablet.webp 1x, /img/unique-components/milk-mobile-tablet@2x.webp 2x"
              media="(max-width: 767px)" type="image/webp" />
            <source
              srcset="/img/unique-components/milk-mobile-tablet.png 1x, /img/unique-components/milk-mobile-tablet@2x.png 2x"
              media="(max-width: 767px)" />
            <img src="/img/unique-components/milk-mobile-tablet.png" alt="bottle of milk" width="224" height="171"
              class="unique-img" />
          </picture>
          <h3 class="unique-img-title">MILK</h3>
        </div>
        <div  class="unique-overlay">
          <h2 class="unique-overlay-title">MILK</h2>
          <ul class="overlay-list-btn">
            <li class="unique-item-btn">
              <button type="button" class="btn-primary unique-overlay-btn">milk</button> 
            </li>
            <li class="unique-item-btn">
              <button type="button" class="btn-tertiary unique-overlay-btn">the benefits</button>
            </li>
          </ul>
          <p class="unique-overlay-text unique-first-text">Milk is a white liquid food produced by the mammary glands of mammals. It is
            the primary source of nutrition for young mammals (including breastfed human infants) before they are able
            to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen
            the immune system.</p>
        </div>
      </li>
      <li  class="unique-item">
        <div  class="unique-card-wrapper">
          <picture>
            <source srcset="/img/unique-components/nuts-desktop.webp 1x, /img/unique-components/nuts-desktop@2x.webp 2x"
              media="(min-width: 1200px)" type="image/webp" />
            <source srcset="../img/unique-components/nuts-desktop.png 1x, /img/unique-components/nuts-desktop@2x.png 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="/img/unique-components/nuts-mobile-tablet.webp 1x, /img/unique-components/nuts-mobile-tablet@2x.webp 2x"
              media="(min-width: 768px)" type="image/webp" />
            <source
              srcset="/img/unique-components/nuts-mobile-tablet.png 1x, /img/unique-components/nuts-mobile-tablet@2x.png 2x"
              media="(min-width: 768px)" />
            <source
              srcset="/img/unique-components/nuts-mobile-tablet.webp 1x, /img/unique-components/nuts-mobile-tablet@2x.webp 2x"
              media="(max-width: 767px)" type="image/webp" />
            <source
              srcset="/img/unique-components/nuts-mobile-tablet.png 1x, /img/unique-components/nuts-mobile-tablet@2x.png 2x"
              media="(max-width: 767px)" />
            <img src="/img/unique-components/nuts-mobile-tablet.png" alt="nuts" width="224" height="171"
              class="unique-img" />
          </picture>
          <h3 class="unique-img-title">NUTS</h3>
        </div>
        <div  class="unique-overlay">
          <h2 class="unique-overlay-title">NUTS</h2>
          <ul class="overlay-list-btn">
            <li class="unique-item-btn">
              <button type="button" class="btn-primary unique-overlay-btn">nuts</button> 
            </li>
            <li class="unique-item-btn">
               <button type="button" class="btn-tertiary unique-overlay-btn">the benefits</button>
            </li>
          </ul>
          <p class="unique-overlay-text unique-first-text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy
            nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing
            your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re
            great on their own.</p>
        </div>
      </li>
      <li class="unique-item">
        <div  class="unique-card-wrapper">
          <picture>
            <source
              srcset="/img/unique-components/semi-sweet-desktop.webp 1x, /img/unique-components/semi-sweet-desktop@2x.webp 2x"
              media="(min-width: 1200px)" type="image/webp" />
            <source
              srcset="/img/unique-components/semi-sweet-desktop.png 1x, /img/unique-components/semi-sweet-desktop@2x.png 2x"
              media="(min-width: 1200px)" />
            <source
              srcset="/img/unique-components/semi-sweet-mobile-tablet.webp 1x, /img/unique-components/semi-sweet-mobile-tablet@2x.webp 2x"
              media="(min-width: 768px)" type="image/webp" />
            <source
              srcset="/img/unique-components/semi-sweet-mobile-tablet.png 1x, /img/unique-components/semi-sweet-mobile-tablet@2x.png 2x"
              media="(min-width: 768px)" />
            <source
              srcset="/img/unique-components/semi-sweet-mobile-tablet.webp 1x, /img/unique-components/semi-sweet-mobile-tablet@2x.webp 2x"
              media="(max-width: 767px)" type="image/webp" />
            <source
              srcset="/img/unique-components/semi-sweet-mobile-tablet.png 1x, /img/unique-components/semi-sweet-mobile-tablet@2x.png 2x"
              media="(max-width: 767px)" />
            <img src="/img/unique-components/semi-sweet-mobile-tablet.png" alt="cacao" width="224" height="171"
              class="unique-img" />
          </picture>
          <h3 class="unique-img-title">SEMI - SWEET CHOCOLATE</h3>
        </div>
        <div  class="unique-overlay">
          <h2 class="unique-overlay-title">SEMI-SWEET CHOCOLATE</h2>
          <ul class="overlay-list-btn">
            <li class="unique-item-btn">
              <button type="button" class="btn-primary unique-overlay-btn">sweet chocolate</button> 
            </li>
            <li class="unique-item-btn">
              <button type="button" class="btn-tertiary unique-overlay-btn">the benefits</button>
            </li>
          </ul>
          <p class="unique-overlay-text unique-second-text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best
            ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate.
            Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk
            chocolate is sweeter.</p>
        </div>
      </li>
    </ul>
  </div>
</section>