/* 
===========
HEADER
===========
*/

@media only screen and (min-width: 1200px) {
  .header .header-container {
    display: flex;
    gap: 137px;
    align-items: center;
    justify-content: space-between;
  }
}

.header .logo {
  color: var(--light-black);
  font-weight: 700;
  line-height: 1.28;
  padding: 14px 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 4px;
}

@media only screen and (min-width: 768px) {
  .header .logo {
    padding: 24px 0;
  }
}

.header .logo-item {
  font-style: italic;
}

.header .logo-icon {
  width: 21px;
  height: 21px;
}

@media only screen and (min-width: 1200px) {
  .header .logo-icon {
    width: 24px;
    height: 24px;
  }
}

.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .header .nav {
    padding-top: 6px;
  }
}

@media only screen and (min-width: 1200px) {
  .header .nav {
    gap: 188px;
    padding-bottom: 8px;
  }
}

.header .nav-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

@media only screen and (max-width: 1199px) {
  .header .nav-list {
    display: none;
  }
}

.header .nav-link {
  font-weight: 500;
  line-height: 1.14;
  padding: 24px 0;
  letter-spacing: -0.02em;
  transition: color 300ms var(--cubic-transition);
}

.header .nav-link:hover,
.header .nav-link:focus {
  color: var(--orange);
}

.header .socials {
  display: flex;
  gap: 18px;
}

@media only screen and (max-width: 1199px) {
  .header .socials {
    display: none;
  }
}

.header .socials-item {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.header .socials-item:hover .socials-icon,
.header .socials-item:focus .socials-icon {
  fill: var(--orange);
}

.header .socials-icon {
  fill: currentColor;
  transition: fill 300ms var(--cubic-transition);
}

/*
==============
BURGER BUTTON
==============
*/

.header .menu-toggle {
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .header .menu-toggle {
    height: 32px;
    width: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .header .menu-toggle {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header .menu-toggle .icon {
    height: 32px;
    width: 32px;
  }
}

/* 
=============
MOBILE MENU
=============
*/
.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 220px;
  width: 100%;
  height: 100vh;
  padding: 136px 20px 20px 20px;
  background-color: var(--dark-violet);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--cubic-transition);
  display: flex;
  flex-direction: column;
  color: var(--white);
}

@media only screen and (min-width: 768px) {
  .menu-container {
    max-width: 290px;
    padding: 156px 32px 32px 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  color: var(--white);
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--cubic-transition),
    border 250ms var(--cubic-transition);
}

.menu-container .menu-toggle:focus,
.menu-container .menu-toggle:hover {
  background-color: var(--light-orange);
}

.menu-container .menu-toggle:focus .close-icon,
.menu-container .menu-toggle:hover .close-icon {
  fill: var(--orange);
}

.menu-container .close-icon {
  fill: var(--white);
  transition: fill 300ms var(--cubic-transition);
}

.menu-container .mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;
  padding: 0 30px 0 26px;
}

@media only screen and (min-width: 768px) {
  .menu-container .mobile-menu {
    padding: 0 53px 0 49px;
  }
}

.menu-container .mobile-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.menu-container .mobile-link:focus,
.menu-container .mobile-link:focus-visible {
  color: var(--orange);
  outline: 0;
}

.menu-container .social-icons {
  display: flex;
  gap: 10px;
}

.menu-container .social-icon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
}

.menu-container .social-icon:focus,
.menu-container .social-icon:focus-visible {
  outline: 0;
}

.menu-container .social-icon .icon {
  fill: var(--white);
}

@media only screen and (min-width: 768px) {
  .menu-container .social-icon,
  .menu-container .social-icon .icon {
    width: 24px;
    height: 24px;
  }
}

.menu-container .social-icon:focus .icon,
.menu-container .social-icon:focus-visible .icon {
  fill: var(--orange);
}
