.hero {
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  /* ==================================HERO-MOBILE=================================== */

  /* hero-background */
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero/hero-image-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  max-width: 335px;
  height: 621px;
}

/* -----------------------------------hero content----------------------------- */

.hero-blocks {
  display: flex;
  flex-direction: column;
}

.hero-text {
  margin-top: 375px;
  width: 295px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: var(--white);
}

/* -------------------------------------------hero buttons------------------------- */
.hero-buttons-container {
  display: flex;
  gap: 14px;
  margin: 32px 0;
}
.hero-btn {
  padding: 0;
}

/* ---------------------------------------hero modal button--------------------- */

.hero-modal-btn {
  width: 120px;
  height: 41px;
  background: var(--orange);
  border-radius: 100px;
  border: 0;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-btn:hover,
.hero-modal-btn:focus {
  background-color: #fcf1e0;
  color: var(--orange);
}
/*---------------------------------- hero how-button------------------------- */

.hero-how-btn {
  width: 159px;
  height: 41px;
  border: 1px solid var(--white);
  border-radius: 100px;
  background-color: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-how-btn:hover,
.hero-how-btn:focus {
  color: var(--orange);
  border-color: var(--orange);
}

/* -------------------------------------hero scroll button--------------------- */

.hero-scrol-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  cursor: pointer;
}

.hero-scroll-title {
  width: 67px;
  height: 14px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: var(--white);
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scrol-btn {
  width: 28px;
  height: 28px;
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: black;
  border: 0;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-scrol-btn:hover,
.hero-scrol-btn:focus {
  background-color: var(--orange);
}

.hero-scrol-btn:hover .arrow-button,
.hero-scrol-btn:focus .arrow-button {
  fill: var(--white);
}

.hero-scroll-title:hover,
.hero-scroll-title:focus {
  color: var(--orange);
}

/* ------------------------------arrov button-icon------------------------- */
.arrow-button {
  display: flex;
  margin: auto;
  fill: var(--orange);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
.arrow-button:hover,
.arrow-button:focus {
  transform: rotate(-90deg);
  fill: var(--white);
}
*/

/* =====================================HERO END MOBILE=================== */

/* =====================================HERO-TABLET======================== */
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/hero-image-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    max-width: 704px;
    height: 790px;
    margin-bottom: 50px;
  }

  .hero-blocks {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-text {
    margin-top: 551px;
    width: 484px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--white);
  }

  .hero-modal-btn {
    width: 144px;
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .hero-how-btn {
    width: 183px;
    height: 45px;
  }

  .hero-scroll-title {
    width: 78px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
  }

  .hero-scrol-btn {
    width: 38px;
    height: 38px;
  }

  .arrow-button {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
  }
}

/* =======================================HERO-DESKTOP=========================== */
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/hero-image-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    left: 0px;
    top: 0px;
    max-width: 1136px;
    height: 600px;
    margin-bottom: 72px;
  }

  .hero-blocks {
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
  }

  .hero-text {
    margin-top: 361px;
  }
}
