/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 100px;
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--orange);
}
