.reviews {
  padding: 20px 0;
}

.reviews_title {
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.16;
  color: black;
  margin-bottom: 32px;
}

.reviews_title_chocolate {
  color: #fd9222;
}

.reviews_card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 42px;
  
}

.reviews_image {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 18px;
}

.reviews_text_name {
  text-align: center;

  width: 334px;
  height: 200px;

  padding: 56px 18px 42px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.reviews_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 24px;
}

.reviews_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.reviews_botton {
  font-size: 14px;
  line-height: 17px;
  width: 165px;
  height: 41px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  display: block;
  margin: 0 auto;
}

.swiper-wrapper {
  margin-bottom: 32px;
}
.mySwiper{
  margin-bottom: 20px;
}

.swiper-slide{flex: 0 0 100%;}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 50px;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 15px;
  background: #fd9222;
}

@media screen and (min-width: 768px) {
  .reviews_title {
    font-size: 24px;
    margin-bottom: 49px;
  }

  .reviews_text_name {
    width: 344px;

    padding: 56px 16px 42px;
  }

  .swiper-slide {
    flex: 0 0 50%;
  }

  .swiper-wrapper {
    margin-bottom: 50px;
  }
  .mySwiper{
    margin-bottom: 31px;
  }


}

@media screen and (min-width: 1200px) {
  .reviews_text_name {
    width: 360px;
    padding: 56px 24px 42px;
  }

  .swiper-slide{
    flex: 0 0 33.3333333333%;
  }
}
