.subscribe {
  background-color: var(--black);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/subscribe/bg-sub-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 63px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/bg-sub-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/bg-sub-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(../img/subscribe/bg-sub-tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../img/subscribe/bg-sub-pc.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(../img/subscribe/bg-sub-pc@2x.jpg);
    }
  }
}

.sub-headings {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white);
  max-width: 291px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .sub-headings {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    font-weight: 600;
    max-width: 378px;
    margin: 0 auto;
  }
}

.sub-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--white);
  max-width: 326px;
  margin: 24px auto;
}

@media screen and (min-width: 768px) {
  .sub-text {
    max-width: 467px;
  }
}

.btn-sub {
  display: block;
  min-width: 128px;
  margin: 0 auto;
  transition: background-color 250ms var(--cubic-transition);
}

.btn-sub:focus,
.btn-sub:hover {
  background: var(--light-orange);
}

@media screen and (min-width: 768px) {
  .btn-sub {
    min-width: 172px;
  }
}
