.top-sellers {
  padding: 20px 0;
}
.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .top-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--light-black);
    margin-bottom: 32px;
  }

  .top-text-second {
    color: var(--orange);
  }

  .top-sellers-title {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: var(--light-black);
    width: 306px;
    margin-top: 20px;
    margin-bottom: 32px;
  }

  .top-button {
    display: block;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.21;
    min-width: 120px;
    height: 41px;
    background: var(--orange);
    border-radius: 100px;
    border: none;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 72px;
  }
  .top-sellers-items {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .top-wripper-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .top-wripper-tablet {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .top-mob-img {
    display: none;
  }
}
.top-sellers {
}
.container {
}
.top-seller-main {
}
.top-text {
}
.top-text-second {
}
.top-sellers-items {
}
.top-sellers-list {
}
.top-sellers-img {
}
.top-sellers-title {
}
.top-button {
}
.top-backdrop {
}
.top-seller-modal {
}
.top-modal-button {
}
.top-modal-icon {
}

/* Tablet */
@media screen and (min-width: 768px) {
  .top-text {
    font-size: 24px;
    line-height: 1.16px;
    margin-bottom: 50px;
  }

  .top-button {
    font-size: 18px;
    line-height: 1.22;
    min-width: 162px;
    height: 50px;
    margin-top: 32px;
    margin: 32px 0 0 0;
  }

  .top-sellers-items {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .top-sellers-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

@media and (min-width: 1200px) {
}

/* Form modal */

.top-seller-form {
}
.top-sellers-form-list {
}
.top-sellers-form-item {
}
.top-sellers-form-img {
}
.top-modal {
}
.top-seller-info {
}
.top-sellers-input {
}
.top-seller-number {
}
.top-seller-textarea {
}
.top-seller {
}
